<body>
  <h1
    class="text-center"
    style="
      font-size: 26px;
      margin: auto;


      position: center;
      color: rgb(37, 41, 37);
      font-weight: bold;
    "
  >
    O Raciocinador do Hetucakra
  </h1>

  <div class="row formulario">
    <!--div do outro lado começa aqui-->

    <!-- Modal -->
    <div id="popup1" class="overlay">
      <div class="popup">
        <h2 *ngIf="posicao == 1"></h2>
        <h2 *ngIf="posicao == 2"></h2>
        <h2 *ngIf="posicao == 3"></h2>
        <h2 *ngIf="posicao == 4"></h2>
        <h2 *ngIf="posicao == 5"></h2>
        <h2 *ngIf="posicao == 6"></h2>
        <h2 *ngIf="posicao == 7"></h2>
        <h2 *ngIf="posicao == 8"></h2>
        <h2 *ngIf="posicao == 9"></h2>
        <a class="close" href="#">&times;</a>
        <div class="content">
          <app-posicao-um *ngIf="posicao == 1"></app-posicao-um>
          <app-posicao-dois *ngIf="posicao == 2"></app-posicao-dois>
          <app-posicao-tres *ngIf="posicao == 3"></app-posicao-tres>
          <app-posicao-quatro *ngIf="posicao == 4"></app-posicao-quatro>
          <app-posicao-cinco *ngIf="posicao == 5"></app-posicao-cinco>
          <app-posicao-seis *ngIf="posicao == 6"></app-posicao-seis>
          <app-posicao-sete *ngIf="posicao == 7"></app-posicao-sete>
          <app-posicao-oito *ngIf="posicao == 8"></app-posicao-oito>
          <app-posicao-nove *ngIf="posicao == 9"></app-posicao-nove>
        </div>
      </div>
    </div>
    <!-- Fim do Modal -->

    <div class="classForWheel">
      <div class="contentForWheel">
        <img
          class="cssForWheel"
          src="./assets\leme4.jpg"
          width="300"
          height="300"
        />

        <a
          (click)="clickPosition(posicao?.posicaoNaRoda)"
          href="#popup1"
          class=""
          [ngClass]="{
            first: posicao?.posicaoNaRoda == 1,
            second: posicao?.posicaoNaRoda == 2,
            third: posicao?.posicaoNaRoda == 3,
            fourth: posicao?.posicaoNaRoda == 4,
            fifth: posicao?.posicaoNaRoda == 5,
            sixth: posicao?.posicaoNaRoda == 6,
            seventh: posicao?.posicaoNaRoda == 7,
            eighth: posicao?.posicaoNaRoda == 8,
            ninth: posicao?.posicaoNaRoda == 9
          }"
        ></a>
      </div>
    </div>
    <!--div do outro lado termina aqui-->
    <div class="classForForm formulario-div">
      <form (ngSubmit)="onSubmit()">
        <div class="row">
          <br />
          <div
            data-tooltip="Hipótese é a afirmação ou negação de um predicado a respeito de um sujeito."
            style="color: rgb(37, 41, 37);
            font-weight: bold;"
          >
            Hipótese
          </div>
          <div class="col">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
              id="sujeitoHipotese"
              [(ngModel)]="anumana.sujeitoHipotese"
              name="sujeitoHipotese"
            >
              <option value="" selected disabled class="text-hide">
                -- Selecione o sujeito/objeto --
              </option>
              <option value="O som">O som</option>
              <option value="O relampejar">O relampejar</option>
              <option value="O espaço">O espaço</option>
              <option value="O jarro">O jarro</option>
            </select>
          </div>
          <div class="col">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
              id="predicadoHipotese"
              [(ngModel)]="anumana.predicadoHipotese"
              name="predicadoHipotese"
            >
              <option value="" selected disabled class="text-hide">
                -- Selecione o predicado/propriedade --
              </option>
              <option value="é produzido">é produzido</option>
              <option value="é feito por esforço">é feito por esforço</option>
              <option value="não é feito por esforço">não é feito por esforço</option>
              <option value="é eterno">é eterno</option>
              <option value="é momentâneo">é momentâneo</option>
              <option value="é cognoscível">é cognoscível</option>
              <option value="não é eterno">não é eterno</option>
              <option value="é incorpóreo">é incorpóreo</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div
            data-tooltip="Justificativa é a razão ou prova de que o predicado do sujeito de fato se aplica ao sujeito da tese." style="color: rgb(37, 41, 37);
            font-weight: bold;"
          >
            Justificativa
          </div>
          <div class="col">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
              id="sujeitoJustificativa"
              [(ngModel)]="anumana.sujeitoHipotese"
              name="sujeitoJustificativa"
              disabled
              selected
            >
              <option value="O som">Dado que o som</option>
              <option value="O relampejar">Dado que o relampejar</option>
              <option value="O espaço">Dado que o espaço</option>
              <option value="O jarro">Dado que o jarro</option>
            </select>
          </div>
          <div class="col">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
              id="predicadoHipotese"
              [(ngModel)]="anumana.predicadoJustificativa"
              name="predicadoJustificativa"
            >
              <option value="" selected disabled class="text-hide">
                -- Selecione o predicado/propriedade --
              </option>
              <option value="é produzido">é produzido</option>
              <option value="não é feito por esforço">não é feito por esforço</option>
              <option value="é feito por esforço">é feito por esforço</option>
              <option value="é eterno">é eterno</option>
              <option value="é momentâneo">é momentâneo</option>
              <option value="é cognoscível">é cognoscível</option>
              <option value="não é eterno">não é eterno</option>
              <option value="é incorpóreo">é incorpóreo</option>
              <option value="é audível">é audível</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div
            data-tooltip="O exemplo tem o papel de elucidar com um caso similar como a justificativa torna a tese verdadeira. O exemplo sempre afirma o predicado da tese." style="color: rgb(37, 41, 37);
            font-weight: bold;"
          >
            Exemplo
          </div>
          <div class="col">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
              id=""
              [(ngModel)]="anumana.sujeitoExemploSimilarUm"
              name="sujeitoExemploSimilarUm"
            >
            <option value="" selected disabled class="text-hide">
              -- Selecione o sujeito/objeto --
            </option>
              <option value="Tal como o som">Tal como o som</option>
              <option value="Tal como o relampejar">Tal como o relampejar</option>
              <option value="Tal como o espaço">Tal como o espaço</option>
              <option value="Tal como o jarro">Tal como o jarro</option>
            </select>
          </div>
          <div class="col">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
              id="predicadoDaHipoteseDoExSimilarUm"
              [(ngModel)]="anumana.predicadoHipotese"
              name="predicadoDaHipoteseDoExSimilarUm"
              disabled
              selected
            >
              <option value="é produzido">é produzido</option>
              <option value="é feito por esforço">é feito por esforço</option>
              <option value="não é feito por esforço">não é feito por esforço</option>
              <option value="é eterno">é eterno</option>
              <option value="é momentâneo">é momentâneo</option>
              <option value="é cognoscível">é cognoscível</option>
              <option value="não é eterno">não é eterno</option>
              <option value="é incorpóreo">é incorpóreo</option>
            </select>
          </div>

          <div class="col">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
              id="valuePredicadoDaJustificativaDoExSimilarUm"
              [(ngModel)]="anumana.valuePredicadoDaJustificativaDoExSimilarUm"
              name="valuePredicadoDaJustificativaDoExSimilarUm"
            >
            <option value="" selected disabled class="text-hide">
              -- Selecione se esse exemplo nega/afirma o predicado da justificativa --
            </option>
              <option value="Verdade">e é</option>
              <option value="Falsidade">e não é</option>
            </select>
          </div>

          <div class="col">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
              id="predicadoDaJustificativaDoExSimilarUm"
              [(ngModel)]="anumana.predicadoJustificativa"
              name="predicadoDaJustificativaDoExSimilarUm"
              disabled
              selected
            >
              <option value="é produzido">produzido</option>
              <option value="não é feito por esforço">feito por esforço</option>
              <option value="é feito por esforço">feito por esforço</option>
              <option value="é eterno">eterno</option>
              <option value="é momentâneo">momentâneo</option>
              <option value="é cognoscível">cognoscível</option>
              <option value="não é eterno">não eterno</option>
              <option value="é incorpóreo">incorpóreo</option>
              <option value="é audível">audível</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div
            data-tooltip="O contra-exemplo tem o papel de elucidar com um caso não similar como a justificativa torna a tese verdadeira. Contra-exemplo, ao contrário do exemplo, sempre nega o predicado da tese."
            style="color: rgb(37, 41, 37);
            font-weight: bold;"
          >
            Contra-Exemplo
          </div>
          <div class="col">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
              id="sujeitoHipotese"
              [(ngModel)]="anumana.sujeitoExemploDissimilarUm"
              name="sujeitoExemploDissimilarUm"
            >
            <option value="" selected disabled class="text-hide">
              -- Selecione o sujeito/objeto --
            </option>
              <option value="Diferente do som">Diferente do som</option>
              <option value="Diferente do relampejar">Diferente do relampejar</option>

              <option value="Diferente do espaço">Diferente do espaço</option>
              <option value="Diferente do jarro">Diferente do jarro</option>
            </select>
          </div>
          <div class="col">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
              id="predicadoDaHipoteseDoExDissimilarUm"
              [(ngModel)]="anumana.predicadoHipotese"
              name="predicadoDaHipoteseDoExDissimilarUm"
              disabled
              selected
            >
              <option value="é produzido">que não é produzido</option>
              <option value="não é feito por esforço">
                que é feito por esforço
              </option>
              <option value="é eterno">que não é eterno</option>
              <option value="é momentâneo">que não é momentâneo</option>
              <option value="é cognoscível">que não é cognoscível</option>
              <option value="não é eterno">que é eterno</option>
              <option value="é incorpóreo">que não é incorpóreo</option>
               <option value="é feito por esforço">que não é feito por esforço</option>

            </select>
          </div>
          <div class="col">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
              id="valuePredicadoDaJustificativaDoExDissimilarUm"
              [(ngModel)]="
                anumana.valuePredicadoDaJustificativaDoExDissimilarUm
              "
              name="valuePredicadoDaJustificativaDoExDissimilarUm"
            >
            <option value="" selected disabled class="text-hide">
              -- Selecione se esse contra-exemplo nega/afirma o predicado da justificativa --
            </option>
              <option value="Verdade">e é</option>
              <option value="Falsidade">e não é</option>
            </select>
          </div>
          <div class="col">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
              id="predicadoDaJustificativaDoExDissimilarUm"
              [(ngModel)]="anumana.predicadoJustificativa"
              name="predicadoDaJustificativaDoExDissimilarUm"
              disabled
              selected
            >
              <option value="é produzido">produzido</option>
              <option value="é feito por esforço">feito por esforço</option>
              <option value="não é feito por esforço">feito por esforço</option>
              <option value="é eterno">eterno</option>
              <option value="é momentâneo">momentâneo</option>
              <option value="é cognoscível">cognoscível</option>
              <option value="não é eterno">não eterno</option>
              <option value="é incorpóreo">incorpóreo</option>
              <option value="é audível">audível</option>
            </select>
          </div>

          <div class="row">
            <div
              data-tooltip="Se há um exemplo diferente do dado acima, então nesse caso o exemplo pode tanto afirmar quanto negar o predicado da justificativa"
              style="color: rgb(37, 41, 37);
            font-weight: bold;"
            >
              Há um exemplo diferente do dado acima?
            </div>
            <div class="outrosExemplos">
              <input
                class="form-check-input"
                type="radio"
                name="exemploSimilarDistintoSim"
                id="haUmExemploSimilarDistintoSim"
                value="Verdade"
                [(ngModel)]="anumana.haUmExemploSimilarDistinto"
              />
              <label
                class="form-check-label espacamentoRadio"
                for="flexRadioDefault1"
              >
                Sim
              </label>
              <input
                class="form-check-input"
                type="radio"
                name="exemploSimilarDistintoNao"
                id="haUmExemploSimilarDistintoNao"
                value="Inexistente"
                [(ngModel)]="anumana.haUmExemploSimilarDistinto"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                Não
              </label>
            </div>

            <div
              data-tooltip="Se há um contra-exemplo diferente do dado acima, então nesse caso o exemplo pode tanto afirmar quanto negar o predicado da justificativa"
              style="color: rgb(37, 41, 37);
            font-weight: bold;"
            >
              Há um contra-exemplo diferente do dado acima?
            </div>
            <div class="outrosExemplos">
              <input
                class="form-check-input"
                type="radio"
                name="exemploDissimilarDistintoSim"
                id="haUmExemploDissimilarDistintoSim"
                value="Verdade"
                [(ngModel)]="anumana.haUmExemploDissimilarDistinto"
              />
              <label
                class="form-check-label espacamentoRadio"
                for="flexRadioDefault1"
              >
                Sim
              </label>
              <input
                class="form-check-input"
                type="radio"
                name="exemploDissimilarDistintoNao"
                id="haUmExemploDissimilarDistintoNao"
                value="Inexistente"
                [(ngModel)]="anumana.haUmExemploDissimilarDistinto"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                Não
              </label>
            </div>
          </div>
        </div>

        <div class="col" style="padding: 1px; margin-top: 6px" position="center">
          <button class="btn btn-success" type="submit">Valide</button>
        </div>
      </form>
    </div>
  </div>
</body>
