body {
  background: rgb(242, 236, 223);
  background: linear-gradient(
    90deg,
    rgba(242, 236, 223, 1) 14%,
    rgba(232, 211, 182, 1) 39%,
    rgba(226, 190, 139, 1) 73%
  );

  margin: 0;
  padding: 0;
}

[data-tooltip]:before {
  /* needed - do not touch */
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;

  /* customizable */
  transition: all 0.15s ease;
  padding: 10px;
  color: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 1px silver;
}

[data-tooltip]:hover:before {
  /* needed - do not touch */
  opacity: 1;
  color: white;

  /* customizable */
  background: #198754;
  margin-top: -50px;
  margin-left: 20px;
}

[data-tooltip]:not([data-tooltip-persistent]):before {
  pointer-events: none;
}


.espacamentoRadio{
 margin-right: 10px;
}

select {
  margin-bottom: 11px;
  size: 11px;
}

.formulario {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.formulario-div {
  padding: 2px 40px;
}

.positions {
  height: 150px;
  width: 150px;
  background-color: red;
  border-radius: 100%;
}

.classForWheel {
  height: 285px;
  width: 100%;
  position: relative;
  order: 0;
}

.classForForm {
  width: 100%;
  order: 1;
}

.html {
  position: fixed;
  width: 100vh;
  height: 100vh;
}

.form-select {
  border-radius: 10px;
  position: auto;
  overflow: hidden;
}

.outrosExemplos {
  border: 1px;
  table-layout: fixed;
  width: 140px;
}

.div {
  display: inline-block;
  position: fixed;
  width: 100vh;
  height: 100vh;
}

.cssForWheel {
  margin: auto;
  top: 0;
  right: 38%;
  bottom: 0;
}

.contentForWheel {
  width: 350px;
  margin: auto;
  position: relative;
  left: 19px;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
    filter: hue-hotate(0deg);
  }
  20% {
    box-shadow: 0 0 60px #0f0, inset 0 0 60px #0f0;
    filter: hue-hotate(0deg);
  }
  20% {
    box-shadow: 0 0 40px #0f0, inset 0 0 40px #0f0;
    filter: hue-hotate(0deg);
  }
  60% {
    box-shadow: 0 0 80px #0f0, inset 0 0 80px #0f0;
    filter: hue-hotate(0deg);
  }
  80% {
    box-shadow: 0 0 100px #0f0, inset 0 0 100px #0f0;
    filter: hue-hotate(0deg);
  }
  100% {
    box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
    filter: hue-hotate(360deg);
  }
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}

.first {
  position: absolute;
  right: 79%;
  bottom: 77%;
  content: "";
  border: 10px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
  -webkit-animation: slide-bck-center 500ms ease-out infinite alternate-reverse;
  animation:  blinker 1s step-start infinite;
}

.second {
  position: absolute;
  right: 53.5%;
  bottom: 87%;
  content: "";
  border: 10px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
  -webkit-animation: slide-bck-center 500ms ease-out infinite alternate-reverse;
  animation:  blinker 1s step-start infinite;
}

.third {
  position: absolute;
  right: 29.5%;
  bottom: 75%;
  content: "";
  border: 9px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0002);
    animation:  blinker 1s step-start infinite;
}
.fourth {
  position: absolute;
  right: 90.4%;
  bottom: 46.5%;
  content: "";
  border: 9px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
  -webkit-animation: slide-bck-center 500ms ease-out infinite alternate-reverse;
  animation:  blinker 1s step-start infinite;
}
.fifth {
  position: absolute;
  right: 54.3%;
  bottom: 46%;
  content: "";
  border: 9px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0002);
    animation:  blinker 1s step-start infinite;
}

.sixth {
  position: absolute;
  right: 20%;
  bottom: 45.5%;
  content: "";
  border: 9px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0002);
    animation:  blinker 1s step-start infinite;
}
.seventh {
  position: absolute;
  right: 80%;
  bottom: 17%;
  content: "";
  border: 9px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0002);
    animation:  blinker 1s step-start infinite;
}
.eighth {
  position: absolute;
  right: 55.1%;
  bottom: 4%;
  content: "";
  border: 9px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0002);
    animation:  blinker 1s step-start infinite;
}
.ninth {
  position: absolute;
  right: 30.5%;
  bottom: 17%;
  content: "";
  border: 9px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0002);
    animation:  blinker 1s step-start infinite;
}

/* MODAL */


.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0 0 0 / 7%);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
  overflow: scroll;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 4s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
