<html>
  <body>
    <h2>Posição Seis</h2>
    <div class="textoPosicaoSeis">
      A justifificativa tem um elmento chamado "hetu". "Hetu" é a razão que
      caracteriza a justificativa da tese. O seu argumento teria a mesma forma
      lógica do que a do exemplo abaixo:
      <p>1. O som é eterno.</p>
      <p>2. Dado que é feito por esforço.</p>
      <p>3. Tal como o espaço é eterno [mas é feito por esforço]. Diferente  do pote que não é eterno [mas feito por esforço] e do relampejar que, além de não terno, não é feito por esforço.</p>
      Nessa posição, "hetu" está ausente no exemplo, ausente em algumas instâncias do contra-exemplo e presente em algumas instâncias do contra-exemplo. Assim, esse caso sofre de um tipo de contradição, pois se usa como razão de justificativa para uma tese que tem um predicado que faz oposição a razão da justificativa. Isto é, "ser feito por esforço" está ausente da classe de coisas eternas. A imagem abaixo pode auxiliar:

      <div style="text-align:center;">
      <img
          width=auto
          height=auto
          align="center"
          src="./assets\vennSeis.jpg"
        />

      </div>
      (Convido o leitor a refletir e prestar atenção no papel que os exemplos e contra-exemplos desempenham no argumento)
    </div>
  </body>
</html>
