<html>
  <body>
    <h2>Posição Sete</h2>
    <div class="textoPosicaoSete">
      A justifificativa tem um elmento chamado "hetu". "Hetu" é a razão que
      caracteriza a justificativa da tese. O seu argumento teria a mesma forma
      lógica do que a do exemplo abaixo:
      
      <p>1. O som não é feito por esforço.</p>
      <p>2. Dado que não é eterno.</p>
      <p>3. Tal como o relampejar, embora não eterno, e o espaço, embora eterno, os quais não são feito por esforços. Diferente do pote que é efeito por esforço e não é eterno.</p>

      Nessa posição, "hetu", não ser eterno, está presente em algumas instâncias dos exemplos, ausentes em outras, e presentes em todos os contra-exemplos. Nesse caso, também há um tipo de non sequitur, dado que há aqui uma falácia da inconclusividade. Por qual razão é inconclusivo? É inconclusivo devido ao fato do "hetu" ser geral demais. Isto é, ser não eterno justifica que algo é produzido, seja produzido com esforço ou produzido por causas naturais. A imagem abaixo pode ajudar:
      <div style="text-align:center;">

      <img
          width=auto,
          height=auto
          align="center"
          src="./assets\vennPosicaoTres.jpg"
        />

      </div>
      (Convido o leitor a refletir e prestar atenção no papel que os exemplos e contra-exemplos desempenham no argumento)
    </div>
  </body>
</html>
