<html>
  <body>

    <h2>Posição Um</h2>
    <div class="textoPosicaoUm">
      A justifificativa tem um elmento chamado "hetu". "Hetu" é a razão que
      caracteriza a justificativa da tese. O seu argumento teria a mesma forma
      lógica do que a do exemplo abaixo:
      <br>
      <p>1. O som é eterno.</p>
      <p>2. Dado que [o som] é cognoscível.</p>
      <p>3. Tal como o espaço [é eterno] e diferente do jarro [que
      não é eterno].</p>
      Nesse exemplo, "hetu" é o predicado da justificativa, a
      saber, "ser conoscível". O que um argumento dessa forma diz é: "ser
      cognoscível" é algo que está presente tanto no som (Paksa, sujeito da
      tese) quanto no espaço (sapaksa, sujeito do exemplo) e no jarro (asapaksa,
      sujeito do contra-exemplo). Ora, se ser cognoscível é um atributo que está
      presente tanto em coisas eternas quanto em coisas não-eternas, então não é
      um atributo que sirva como justificativa para a tese "o som é eterno". Em
      outras palavras, esse argumento é falacioso, pois de "ser cognoscível" não
      se segue nem lógica nem necessariamente "ser eterno". Fiz um diagrama para auxiliar na explicação:
      <div style="text-align:center;">
        <img
          width="350"
          height="350"
          align="center"
          src="./assets\vennPosicaoUm.jpg"
        />
      </div>
      Essa posição é considerada falaciosa, uma vez que a justificativa que pretende justificar a hipótese também poderia justificar hipóteses contrárias. Em outras palavras, assim como no nosso exemplo: de uma coisa ser cognoscível poderia se predicar tanto a eternidade quanto a não eternidade de uma coisa, i.e., ser cognoscível não demonstra a eternidade ou a não eternidade de uma coisa. Se alguém quisesse utilizar um argumento desse tipo, ele precisaria de outros argumentos para justificar essa hipótese. Por si só, esse argumento é um non sequitur: a hipótese não se demonstra por essa prova.
      (Convido o leitor a refletir e prestar atenção no papel que os exemplos e contra-exemplos desempenham no argumento)
    </div>
  </body>
</html>
