<html>
  <body>
    <h2>Posição Quatro</h2>
    <div class="textoPosicaoQuatro">
      A justifificativa tem um elmento chamado "hetu". "Hetu" é a razão que
      caracteriza a justificativa da tese. O seu argumento teria a mesma forma
      lógica do que a do exemplo abaixo:
      <p>1. O som é eterno.</p>
      <p>2. Dado que é produzido.</p>
      <p>3. Tal como o éter [que é eterno e não produzido] e diferente do jarro que é produzido e não eterno.</p>
      O "hetu" é sempre o predicado da justificativa. Nesse exemplo, hetu é contraditório com sAdhya. Dado que "ser eterno" faz oposição com "ser produzido". A imagem abaixo pode ajudar:
      <div style="text-align:center;">
        <img
          width=auto,
          height=auto
          align="center"
          src="./assets\vennPosicaoDois.jpg"
        />
      </div>
      Nesse exemplo, tenta se justificar a eternidade do som a partir do fato que ele seja produzido. Se você caiu nessa posição, seu argumento sofre do mesmo problema. Não é possível implicar eternidade de uma coisa a partir do fato de que ele seja produzido. Esse argumento cai em um extremo da contradição.
      Não esqueça que o exemplo é sempre o que também possui o predicado da tese e o contra-exemplo é sempre o que nega o predicado da tese.
      (Convido o leitor a refletir e prestar atenção no papel que os exemplos e contra-exemplos desempenham no argumento)
    </div>
  </body>
</html>
