<html>
  <body>
    <h2>Posição Cinco</h2>
    <div class="textoPosicaoCinco">
      A justifificativa tem um elmento chamado "hetu". "Hetu" é a razão que
      caracteriza a justificativa da tese. O seu argumento teria a mesma forma
      lógica do que a do exemplo abaixo:
      <p>1. O som é eterno.</p>
      <p>2. Dado que é audível.</p>
      <p>3. Tal como o espaço é eterno [mas não audível] e o pote que não é eterno [nem audível].</p>
      Nesse caso, o "hetu", a razão etc, está presente apenas no sujeito da tese. Além disso, não está ausente não apeans no sujeito do exemplo e no sujeito do contra-exemplo. Esse argumento comete um non sequitur, um tipo de inconclusividade baseada no fato de que a razão é muito restrita e não está presente nas coisas que deveriam estar para justificar a tese. A imagem abaixo pode ajudar:
      <div style="text-align:center;">
      <img
          width=auto,
          height=auto
          align="center"
          src="./assets\vennQuatro.jpg"
        />
      </div>
      (Convido o leitor a refletir e prestar atenção no papel que os exemplos e contra-exemplos desempenham no argumento)
    </div>
  </body>
</html>
