<html>
  <body>
    <h2>Posição Oito</h2>
    <div class="textoPosicaoOito">
      A justifificativa tem um elmento chamado "hetu". "Hetu" é a razão que
      caracteriza a justificativa da tese. O seu argumento teria a mesma forma
      lógica do que a do exemplo abaixo:

      <p>1. O som não é eterno.</p>
      <p>2. Dado que é feito por esforço.</p>
      <p>3. Tal como o pote e o relampejar (embora não feito por esforço) não são eternos. Diferente do espaço que não é eterno, nem feito por esforço</p>

      Nessa posição, o "hetu", "ser feito através de esforço", está presente no sujeito da tese, o som, e em algumas instâncias de exemplos similares, embora ausente em todas as instânticas de contra-exemplos. Nesse caso, portanto, o exemplo é válido, pois ser feito por esforço é uma condição suficiente para não ser eterno, i.e., ser feito por esforço está presente nos exemplos e ausente nos contra-exemplos. A imagem abaixo pode auxiliar:
      <br>
      <div style="text-align:center;">

       <img
          width=auto,
          height=auto
          align="center"
          src="./assets\vennSeis.jpg"
        />


      </div>
      (Convido o leitor a refletir e prestar atenção no papel que os exemplos e contra-exemplos desempenham no argumento)
    </div>
  </body>
</html>
