<html>
  <body>
    <h2>Posição Dois</h2>
    <div class="textoPosicaoDois">
      A justifificativa tem um elmento chamado "hetu". "Hetu" é a razão que
      caracteriza a justificativa da tese. O seu argumento teria a mesma forma
      lógica do que a do exemplo abaixo:
      <p>1. O som é não eterno.</p>
      <p>2. Dado que o som é produzido.</p>
      <p>3. Tal como o jarro [é não eterno] e diferente do espaço [que é eterno]. </p>
      Nesse exemplo, "hetu" é o predicado da justificativa, a
      saber, "ser produzido". O que um argumento dessa forma diz é: "ser produzido" é algo presente apenas nas coisas não eternas. Ou seja, está presente no som (Paksa, sujeito da tese) e nos seus exemplos análogos (sapaksa, sujeito do exemplo) tal como o jarro, no entanto não está presente nos contra-exemplos (asapaksa, sujeito do contra-exemplo) tal como o espaço. Essa posição é válida e não falaciosa, pois a justificativa realmente serve para justificar a hipótese, dado que se algo for produzido, então algo não é eterno, pois a classe das coisas produzidas e a classe das coisas eternas são disjuntas e, a classe das coisas produzidas e a classe das coisas não eternas são co-extensivas. O diagrama abaixo pode auxiliara entender esse caso:
      <div style="text-align:center;">
        <img
          width=auto,
          height=auto
          align="center"
          src="./assets\vennPosicaoDois.jpg"
        />
      </div>
      Essa posição não é considerada falaciosa, dado que ser produzido é considerado como uma boa razão para que o som seja considerado não eterno.
      (Convido o leitor a refletir e prestar atenção no papel que os exemplos e contra-exemplos desempenham no argumento)
    </div>
  </body>
</html>
