<html>
  <body>
    <h2>Posição Tres</h2>
    <div class="textoPosicaoTres">
      A justifificativa tem um elmento chamado "hetu". "Hetu" é a razão que
      caracteriza a justificativa da tese. O seu argumento teria a mesma forma
      lógica do que a do exemplo abaixo:
      <p>1. O som é feito por esforço.</p>
      <p>2. Dado que o som não é eterno.</p>
      <p>3. Tal como o jarro [que é feito por esforço e não é eterno] e diferente do relampejar [que não é feito por esforço, mas não é eterno].</p>
      O "hetu" é sempre o predicado da justificativa, a
      saber, "ser não eterno". O que um argumento dessa forma diz é: "ser não eterno" é um atributo presente tanto em coisas feitas por esforço quanto em coisas não feitas por esforço.
      <div style="text-align:center;">
        <img
          width=auto,
          height=auto
          align="center"
          src="./assets\vennPosicaoTres.jpg"
        />
      </div>
      Esse argumento é falacioso, embora todas as coisas não eternas sejam produzidas, nem tudo (que é não eterno) é produzido através do esforço de um ser senciente. Em outras palavras, há um segundo contra-exemplo.
      (Convido o leitor a refletir e prestar atenção no papel que os exemplos e contra-exemplos desempenham no argumento)
    </div>
  </body>
</html>
