<html>
  <body>
    <h2>Posição Nove</h2>
    <div class="textoPosicaoNove">
      A justifificativa tem um elmento chamado "hetu". "Hetu" é a razão que
      caracteriza a justificativa da tese. O seu argumento teria a mesma forma
      lógica do que a do exemplo abaixo:
      <p>1. O som é eterno.</p>
      <p>2. Dado que é incorpóreo.</p>
      <p>3. Tal como o espaço e partículas infinitesimais. Diferente de uma ação e do pote</p>

      Nesse caso, o "hetu", ser incorpóreo, está presente tanto no sujeito da tese quanto nos exemplos e nos contraexemplos. Assim, essa posição é caracteristicamente falaciosa dada que é muito geral. Ou seja, as premissas fornecidas fazem com que a tese seja inconlusiva. A imagem abaixo pode ajudar:

      <div style="text-align:center;">
      <img
          width=auto,
          height=auto
          align="center"
          src="./assets\vennNove.jpg"
        />

      </div>
      (Convido o leitor a refletir e prestar atenção no papel que os exemplos e contra-exemplos desempenham no argumento)
    </div>
  </body>
</html>
